<div class="policy-product">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let item of items">
      <ng-template carouselSlide
        ><div class="card d-flex align-items-center pt-2 shadow-sm">
          <div class="d-flex align-items-center">
            <a routerLink="/product-details/{{ item.productId }}"
              ><img
                [src]="item.images[0].imagePath"
                alt="Card image cap"
                style="width: 170px; height: 200px"
            /></a>
          </div>

          <div class="d-flex text-center">
            <a
              class="nav-link fw-bold m-2 truncate"
              routerLink="/product-details/{{ item.productId }}"
              role="button"
              style="font-size: 13px; width: 205px"
              >{{ item.productName }}</a
            >
          </div>

          <span class="price">
            <strong style="font-weight: bold; color: red; font-size: 16px">{{
              item.productSell > 0
                ? (item.productSell | number)
                : (item.productPrice | number) + " ₫"
            }}</strong>
            &nbsp;&nbsp;
            <del
              class="fst-italic"
              style="font-size: 13px; color: #333333; font-weight: 100"
              *ngIf="item.productSell > 0"
              >{{ item.productPrice | number }}&nbsp;₫</del
            >
          </span>
          <div class="d-flex justify-content-end mt-2 me-2 h-auto w-100">
            <p
              style="
                font-size: 12px;
                opacity: 0.5;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                  sans-serif;
              "
            >
              Yêu thích
            </p>
            <a
              role="button"
              class="nav-link ml-auto"
              (click)="toggleHeart(item)"
              ><i
                class="fal fa-heart heart-icon"
                [ngClass]="{ 'red-background': item.isLike }"
                style="font-size: 20px; margin: 0 5px 0 5px; color: red"
              ></i
            ></a>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
