.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1200px;
}
.product-details .top-product {
  display: flex;
}
.red-background {
  font-weight: bold;
}

.product-details .top-product .statistic {
  width: 315px;
  padding-top: 25px;
  font-size: 12px;
  color: #111;
}

.product-details .top-product .statistic ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
}

.product-details .top-product .statistic ul li {
  margin-right: 15px;
}

.product-details .top-product .statistic ul li:last-child {
  margin-right: 0;
}

.product-details .top-product .statistic ul li a {
  display: flex;
  flex-basis: 100%;
}

.product-details .top-product .statistic ul li i {
  margin-right: 3px;
  line-height: 18px;
  color: #999;
}

.product-details .top-product .statistic ul li a strong {
  color: #111;
  font-size: 13px;
  display: block;
  margin-left: 3px;
}

.product-details h1 {
  margin: 20px 0 10px 0;
  flex-basis: auto;
  flex-grow: 3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  font-weight: bold;
}

.product-details-container {
  display: flex;
}

.product-details .product-image {
  min-width: 380px;
  max-width: 380px;
  margin-right: 15px;
}

.product-image .love-this-button {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 99;
}

.product-image .love-this-button a {
  display: block;
  border-radius: 17px;
  padding: 8px 8px 3px 8px;
  visibility: visible;
  background: #fff7f8 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
}

.product-image .love-this-button i {
  font-size: 25px;
  line-height: 25px;
  width: 25px;
  color: #fd475a;
}

.product-image .love-this-button i.icon-love-2 {
  display: none;
}

.product-image .love-this-button a:hover .icon-love-1,
.product-image .love-this-button a.inlist .icon-love-1 {
  display: none;
}

.product-image .love-this-button a:hover .icon-love-2,
.product-image .love-this-button a.inlist .icon-love-2 {
  display: block;
}

.product-image .love-this-button a:hover i,
.product-image .love-this-button a.inlist i {
  color: #fd475a;
}

.product-details .product-shop {
  min-width: 280px;
  max-width: 280px;
  margin-left: 15px;
}

.product-center {
  flex-grow: 1;
  margin-left: 15px;
}

.product-center .price {
  margin-bottom: 10px;
}

.product-center .price strong {
  font-size: 25px;
  color: #fd475a;
}

.product-center .price i {
  font-size: 15px;
  margin-left: 5px;
}

.product-center .freeship {
  background: #00483d 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 0 5px 0;
}

.product-center .freeship i {
  font-size: 20px;
  margin: -2px 10px -8px 0;
  display: block;
}

.product-center .freeship span {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.product-center hr {
  border: 1px solid #ddd;
  border-width: 0 0 1px 0;
}

.product-center .description {
  margin: 10px 0;
  text-align: justify;
  color: #898989;
}

.product-option .options {
  display: flex;
  flex-wrap: wrap;
}

.product-option .label {
  display: block;
  margin-bottom: 8px;
}

.product-option .item {
  display: block;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  position: relative;
}

.product-option .item strong {
  color: #fd475a;
  display: block;
}

.product-option .item:hover {
  border: 1px solid #ff6801;
  padding: 5px;
  cursor: pointer;
}

.product-option .selected {
  border: 2px solid #00483d;
  padding: 4px;
}

.product-option .selected:hover {
  border: 2px solid #00483d;
  padding: 4px;
}

.product-option .item span {
  display: flex;
  justify-content: left;
  justify-items: left;
  margin-bottom: 5px;
  font-weight: 600;
}

.product-option .item span:before {
  content: "";
  display: block;
  min-width: 12px;
  height: 12px;
  border-radius: 12px;
  line-height: 12px;
  text-align: center;
  border: 1px solid #ccc;
  margin-right: 5px;
  margin-top: 2px;
}

.product-option .selected span:before {
  content: "i";
  font-family: "hoangha";
  font-size: 8px;
  background: #00483d;
  color: #fff;
  border-color: #00483d;
}

.product-option .item span label {
  white-space: nowrap;
  flex-basis: 100%;
}

.product-option .item span label strong {
  color: #333;
  font-weight: normal;
}

.product-option .item span label.yoyo {
  overflow: hidden;
}

.product-option .item span label.yoyo strong {
  animation: yoyo 5s linear infinite;
}

.product-option .item .colorGuide {
  position: absolute;
  width: 100%;
  border: 1px solid #ddd;
  top: 100%;
  left: 0;
  margin-top: 3px;
  display: none;
  border-radius: 3px;
  z-index: 999;
}

.product-option .item .colorGuide label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.product-option .item .colorGuide label strong {
  display: block;
  padding: 2px 3px;
  background: #ffffffbd;
  border-radius: 3px;
  font-weight: normal;
  color: #000;
}

.product-option .item:hover .colorGuide {
  display: none;
}

.product-promotion {
  margin-bottom: 20px;
}

.product-promotion .label {
  font-size: 14px;
  line-height: 28px;
}

.product-promotion ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-promotion ul li {
  margin-bottom: 5px;
}

.product-promotion ul li .bag {
  display: inline-block;
  background: #f7941e 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  padding: 2px 5px;
}

.product-promotion ul li a,
.product-promotion ul li a:link,
.product-promotion ul li a:visited {
  color: #00483d;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}

.product-promotion ul li a:hover {
  color: #ff6801;
}

.product-promotion ul li.list {
  list-style: inside;
}

.product-action {
  display: flex;
  padding: 0;
  justify-items: stretch;
}

.product-action .btnbuy {
  margin-right: 6px;
  display: block;
  text-align: center;
  color: #fff;
  padding: 4px 4px;
  flex-grow: 2;
}

.product-action .btnbuy:last-child {
  margin-right: 0;
}

.product-action .btn-icon {
  border-radius: 4px;
  padding: 5px 3px 5px 0;
  font-size: 22px;
  position: relative;
  width: 10px;
  max-width: 40px;
  min-width: 40px;
  width: 40px;
  flex-grow: 1;
}

.product-action .btnbuy strong {
  display: block;
}

.product-action .btnbuy span {
  font-size: 11px;
}

.product-action .btn-red {
  background: transparent linear-gradient(180deg, #fd475a 0%, #bf1e2d 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 3px;
  text-decoration: none;
}

.product-action .btn-orange {
  background: transparent linear-gradient(180deg, #ff990e 0%, #ff6801 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  text-decoration: none;
}

.product-action .btn-red:hover {
  background: transparent linear-gradient(0deg, #fd475a 0%, #bf1e2d 100%) 0% 0%
    no-repeat padding-box;
}

.product-action .btn-orange:hover {
  background: transparent linear-gradient(0deg, #ff990e 0%, #ff6801 100%) 0% 0%
    no-repeat padding-box;
}

.product-action .cart-plus {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 8px;
}

.product-action .btn-outstock,
.product-action .btn-outstock:hover {
  background: transparent linear-gradient(180deg, #9e9e9e 0%, #969696 100%) 0%
    0% no-repeat padding-box;
  box-shadow: none;
  cursor: not-allowed;
}

.product-shop {
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.product-shop .warranty {
  margin-bottom: 10px;
}

.product-shop .warranty h4 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding: 0;
}

.product-shop .warranty p {
  line-height: 1.2;
  margin: 0 0 5px 20px;
  padding: 0;
  font-size: 12px;
  display: flex;
}

.product-shop .warranty p i {
  color: #009a82;
  margin-right: 5px;
}

.warranty-info {
  background: #fff;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 6px;
}

.warranty-info p {
  text-align: justify;
  padding: 10px;
  margin: 0;
}

.warranty-info p strong {
  color: #999;
}

.warranty-info p label {
  color: #004b3f;
  font-weight: bold;
}

.warranty-info .found,
.warranty-info .not-found {
  display: none;
}

.product-shop .check-stock {
  padding: 0 5px;
  margin-bottom: 10px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.product-shop .check-stock .city {
  position: relative;
}

.product-shop .check-stock .city .button {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border: 1px solid #999;
  border-radius: 4px;
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  color: #111;
  cursor: pointer;
  margin-bottom: 10px;
}

.product-shop .check-stock .city .list {
  position: absolute;
  top: 54px;
  width: 100%;
  display: none;
}

.product-shop .check-stock .city .list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 90%;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border: 1px solid #999;
  border-radius: 0 0 4px 4px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 0;
}

.product-shop .check-stock .city .list ul::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.product-shop .check-stock .city .list ul::-webkit-scrollbar-thumb {
  background-color: #004b3f;
}

.product-shop .check-stock .city .list ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.product-shop .check-stock .city .list ul li a {
  display: block;
  padding: 3px 0;
  text-align: center;
  font-weight: bold;
  color: #222;
  font-size: 12px;
}

.product-shop .check-stock .city .list ul li a:hover {
  background: #009a82;
}

.product-shop .check-stock .city .list ul li.selected a {
  color: #bf1e2d;
}

.product-shop .check-stock .city:hover .list {
  display: block;
}

.product-shop .check-stock .city:hover .hide {
  display: none;
}

.product-shop .check-stock .city p {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.product-shop .check-stock .store {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  overflow-y: auto;
  height: 100px;
  flex-grow: 2;
}

.product-shop .check-stock .store::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.product-shop .check-stock .store::-webkit-scrollbar-thumb {
  background-color: #004b3f;
}

.product-shop .check-stock .store::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.product-shop .check-stock .store ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-shop .check-stock .store ul li {
  margin-bottom: 10px;
  display: flex;
}

.product-shop .check-stock .store ul li:before {
  content: "S";
  font-family: hoangha;
  font-size: 6px;
  margin: 6px 5px 0 0;
}

.product-shop .check-stock .store ul li a {
  margin-top: 2px;
  font-weight: bold;
  color: #222;
}

.product-shop .check-stock .store ul li a:hover {
  color: #00483d;
}

.product-shop .check-stock .store ul li label.data {
  display: block;
}

.product-shop .check-stock .store ul li label strong a {
  color: #009981;
}

.product-shop .check-stock ul li.instock {
  display: block;
}

.product-shop .check-stock ul li.outstock {
  display: none;
}

.product-shop .check-stock ul li.hide {
  display: none;
}

.product-shop .out-date {
  border: 1px solid #009a82;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  font-size: 12px;
}

.product-shop .out-date p {
  margin: 0 0 5px 0;
  padding: 0;
}

.product-shop .out-date i {
  color: #555;
}

.page-not-found {
  margin: 80px;
  text-align: center;
}

.page-not-found .bg img {
  opacity: 0.5;
}
nav.scroll-to-fixed-fixed {
  background: #00483d;
  box-shadow: 0 4px 6px #ccc;
}

nav.scroll-to-fixed-fixed ul.root {
  box-shadow: none;
}

nav.scroll-to-fixed-fixed ul.root li {
  margin: 8px 7px 4px 7px;
}

nav.scroll-to-fixed-fixed ul.root li a,
nav.scroll-to-fixed-fixed ul.root li a:link,
nav.scroll-to-fixed-fixed ul.root li a:visited {
  display: flex;
  white-space: nowrap;
}

nav.scroll-to-fixed-fixed ul.root li a .icon {
  font-size: 15px;
  margin-right: 4px;
}

nav.scroll-to-fixed-fixed ul.root li a span {
  font-size: 12px;
  line-height: 25px;
}

nav.scroll-to-fixed-fixed .sub-container {
  top: 24px;
}

nav.scroll-to-fixed-fixed ul.root li ul li {
  margin: 0;
}

nav.scroll-to-fixed-fixed ul.root li .sub a,
nav.scroll-to-fixed-fixed ul.root li .sub a:link,
nav.scroll-to-fixed-fixed ul.root li .sub a:visited {
  display: block;
}

.product-details .product-image {
  position: relative;
  margin: 0 auto;
  top: 5px;
  left: 0;
  width: 370px;
  overflow: hidden;
}

.product-details .product-image .filter {
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-details .product-image .viewer {
  cursor: default;
  position: relative;
  top: 0;
  left: 0;
  width: 370px;
  height: 370px;
  overflow: hidden;
}

.product-details .product-image .jssora02l {
  background-position: -3px -33px;
  top: 0;
  left: 2px;
  width: 55px;
  height: 55px;
}

.product-details .product-image .jssora02r {
  background-position: -63px -33px;
  top: 0;
  right: 2px;
  width: 55px;
  height: 55px;
}

.product-details .product-image .jssora02l:hover {
  background-position: -123px -33px;
}

.product-details .product-image .jssora02r:hover {
  background-position: -183px -33px;
}

.product-details .product-image .jssora02l.jssora02ldn {
  background-position: -3px -33px;
}

.product-details .product-image .jssora02r.jssora02rdn {
  background-position: -63px -33px;
}

.product-details .product-image .jssora02l.jssora02lds {
  background-position: -3px -33px;
  opacity: 0.3;
  pointer-events: none;
}

.product-details .product-image .jssora02r.jssora02rds {
  background-position: -63px -33px;
  opacity: 0.3;
  pointer-events: none;
}

.product-details .product-image .jssort11 {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 320px;
  height: 80px;
  background: #fff;
}

.product-details .product-image .jssort11 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
}

.product-details .product-image .jssort11 .tp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-details .product-image .jssort11 .i,
.jssort11 .pav:hover .i {
  position: absolute;
  width: 63px;
  height: 63px;
  border: #eee 1px solid;
}

.product-details .product-image .jssort11 .pav .i {
  border: #0bbf56 1px solid;
}

* html .jssort11 .i {
  width: 80px;
  height: 80px;
}

.product-details .slider-l,
.product-details .slider-r {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  background: #ddd;
  opacity: 0.5;
  text-align: center;
  line-height: 50px;
}

.product-details .slider-l {
  top: 0;
  left: 0;
}

.product-details .slider-r {
  right: 10px;
  top: 0;
}

.product-details .slider-l:hover,
.product-details .slider-r:hover {
  opacity: 1;
}

.product-details .product-image:hover .slider-l,
.product-details .product-image:hover .slider-r {
  display: block;
}

.product-details .slider-t-l,
.product-details .slider-t-r {
  display: block;
  position: absolute;
  width: 30px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  background: #fff;
  color: #00483d;
}

.product-details .slider-t-l i,
.product-details .slider-t-r i {
  background: #009a826b;
  width: 20px;
  height: 30px;
  display: block;
  margin-top: 20px;
  padding-bottom: 15px;
  font-size: 10px;
}

.product-details .slider-t-l {
  top: 0;
  left: -30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product-details .slider-t-r {
  right: -20px;
  top: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-details .slider-t-r i {
  margin-left: 10px;
}

.product-details .slider-t-l i {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-details .slider-t-r i {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product-details .slider-t-l i:before {
  display: block;
  line-height: 43px;
  transform: rotate(180deg);
}

.product-details .slider-t-r i:before {
  display: block;
  line-height: 44px;
}

.product-details .slider-t-l:hover,
.product-details .slider-t-r:hover {
  opacity: 1;
  color: #fff;
}

.product-layout {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.product-layout .product-left {
  flex-grow: 1;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 14px;
}
.content {
  overflow: hidden;
  max-height: 510px;
  transition: max-height 0.3s ease; /* Hiệu ứng mịn khi thay đổi chiều cao */
}

.expanded {
  max-height: none; /* Hiển thị toàn bộ nội dung khi có class 'expanded' */
}

.product-layout .product-right {
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 14px;
  flex: 0 0 380px;
  margin-left: 20px;
}

.product-layout .product-specs {
  padding: 15px;
}

.product-layout .product-specs h3 {
  font-size: 15px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-specs .product-spect-img {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding-bottom: 30px;
}

.product-specs .product-spect-img img {
  width: 100%;
  border-radius: 14px;
}

.product-specs .product-specs-button {
  position: absolute;
  bottom: -20px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  background: #fdfdfe 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 10px;
  padding: 2px 50px;
  font-size: 15px;
  color: #191919;
}

.product-specs .product-specs-button span {
  background: transparent linear-gradient(180deg, #009a82 0%, #00483d 100%) 0%
    0% no-repeat padding-box;
  -webkit-text-fill-color: transparent;
  font-size: 26px;
  margin-right: 5px;
}

.product-specs .product-specs-button strong {
  margin-top: -2px;
}

.specs-special {
  margin-top: 25px;
}

.specs-special ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs-special li {
  padding: 5px;
}

.specs-specs li strong {
  color: #666;
}

.table {
  width: 100%;
}

.table-border {
  border-collapse: collapse;
}

.table-border,
.table-border th,
.table-border td {
  border: 1px solid #dedede;
  padding: 5px 8px;
  font-size: 13px;
  color: #333;
}

.table-border th {
  color: #fff;
  background: #009a82;
  text-align: center;
}

.table-gray {
  background: #efefef;
}

.ol-specs {
  padding: 0;
  margin: 0 0 0 17px;
  list-style: disc;
}

.ol-specs li {
  padding-bottom: 5px;
  font-size: 14px;
}

.table-border tr.no-border,
.table-border tr.no-border th,
.table-border tr.no-border td {
  border: none;
}

.table-lgpading,
.table-lgpading th,
.table-lgpading td {
  padding: 8px 10px;
}

.product-text div,
.product-text table {
  max-width: 760px;
}

.product-text {
  padding: 25px 20px;
}

.product-text p {
  line-height: 1.5;
  text-align: justify;
}

.product-text img {
  max-width: 100%;
}

.product-text h2,
.product-text h3,
.product-text h4,
.product-text h5,
.product-text h6 {
  font-size: 15px;
}

#productContent {
  overflow: hidden;
}

.view-more-container {
  padding: 8px 10px;
  text-align: center;
}

.view-more-container a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: #00483d;
}

.full-width-content {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 14px;
  padding: 20px 30px;
  margin: 30px 0;
}

.autocomplete-suggestions::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb {
  background-color: #004b3f;
}

.autocomplete-suggestions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.autocomplete-suggestions {
  margin-top: 15px !important;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
  overflow: auto;
  margin-top: 5px;
}

.autocomplete-suggestion {
  overflow: hidden;
  padding: 0 20px;
}

.autocomplete-selected {
  background: #f0f0f0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #39f;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.autocomplete-suggestions .search-item {
  display: flex;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.autocomplete-suggestions .search-item .img {
  width: 70px;
  margin-right: 15px;
}

.autocomplete-suggestions .search-item .img img {
  max-width: 100%;
}

.autocomplete-suggestions .search-item h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.autocomplete-suggestions .search-item h2 a,
.autocomplete-suggestions .search-item h2 a:link,
.autocomplete-suggestions .search-item h2 a:visited {
  color: #191919;
  font-size: 15px;
}

.autocomplete-suggestions .search-item h2 a:hover {
  color: #00483e;
}

.autocomplete-suggestions .search-item h3 {
  color: #f00;
  font-weight: bold;
  font-size: 13px;
}

.autocomplete-suggestions .more-results {
  padding-left: 42px;
}

.autocomplete-suggestions .more-results a {
  font-size: 15px;
  color: #009981;
}

.autocomplete-suggestions .more-results a strong {
  font-weight: bold;
  color: #009981 !important;
}

.product-quick-compare .header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-quick-compare .header h3 {
  margin: 15px 40px 20px 0;
  font-size: 20px;
  color: #191919;
}

.product-quick-compare .header .search-box {
  display: table-cell;
  vertical-align: top;
  position: relative;
}

.product-quick-compare .header .border {
  background: #e5e5e5;
  border-radius: 15px;
  padding: 5px 10px;
}

.product-quick-compare .header .border input {
  border: none;
  outline: none;
  padding: 7px 0;
  width: 100%;
  font-weight: bold;
  width: 480px;
  background: #e5e5e5;
}

.product-quick-compare .header .border button {
  box-shadow: 0 4px 6px #ccc;
  position: absolute;
  right: 4px;
  top: -9px;
  background: #00483d;
  background-image: linear-gradient(#00917a, #00483d);
  border: none;
  border-radius: 17px;
  width: 42px;
  height: 42px;
  outline: none;
  font-size: 17px;
  color: #fff;
}

.product-quick-compare .header .border button:hover {
  cursor: pointer;
}

.product-quick-compare .header .border button:active {
  top: 0;
}

.lts-product-bgwhite {
  padding: 0 30px;
}

.lts-product-bgwhite .item {
  box-shadow: none;
  margin-bottom: 0;
}

.header {
  background: #009981;
  margin-bottom: 20px;
  display: inline-block;
  height: 30px;
  overflow: hidden;
}

.header:after {
  content: " ";
  border-top: 40px solid #00483d;
  border-left: 30px solid #009981;
  margin-left: 40px;
}

.header h4 {
  padding: 5px 60px 6px 35px;
  margin: 0 0 0 60px;
  background: #00483d;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.header h4,
.header h4 a,
.header h4 a:link,
.header h4 a:visited {
  color: #fff;
}

.header h4 a:hover {
  color: #009981;
}

/* css cmt */
.full-width-content {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 14px;
  padding: 20px 30px;
  margin: 30px 0;
}

.full-width-content #reviewForm {
  font-size: 13px;
  font-weight: 400;
  color: #333;
}
.full-width-content .heading {
  font-weight: 400;
  color: #333;
}

.full-width-content .heading h3 {
  margin: 15px 50px 40px 50px;
  font-size: 20px;
  color: #191919;
  font-weight: bold;
}

.review-form .col {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  padding-left: 30px;
}

.review-form .control textarea {
  min-height: 72px;
  resize: vertical;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border-radius: 13px;
  padding: 10px 12px;
  outline: none;
  flex-basis: 100%;
  border: 1px solid #e5e5e5;
  color: #555;

  font-size: 13px;
  text-align: justify;
  height: 77px;
  overflow-y: hidden;
}
.review-form .control input {
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border-radius: 13px;
  padding: 10px 12px;
  outline: none;
  flex-basis: 100%;
  border: 1px solid #e5e5e5;
  color: #555;

  font-size: 13px;
  text-align: justify;
}

.review-form .col .row {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  display: flex;
  margin-bottom: 20px;
}

.review-content {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  margin: 15px 50px 0 50px;
}

.item .avt {
  width: 60px;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #f1f1f1;
  overflow: hidden;
}

.item .avt img {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  max-width: 100%;
}
.item .info {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  padding-left: 20px;
  flex-basis: 100%;
}
.item .info p {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  margin: 5px 0;
  display: flex;
  align-items: flex-start;
}

.item .info .content {
  margin-top: 15px;
  line-height: 1.4;
}
