<div class="container containers-apple">
  <app-banner-slider [items]="items"></app-banner-slider>
  <app-product-list [items]="iphoneList" [title]="'Iphone'"></app-product-list>
  <app-product-list [items]="ipadList" [title]="'Ipad'"></app-product-list>
  <app-product-list [items]="macList" [title]="'Mac'"></app-product-list>
  <app-product-list
    [items]="appleWatchList"
    [title]="'Apple watch'"
  ></app-product-list>
  <app-product-list [items]="airPods" [title]="'AirPods'"></app-product-list>
</div>
