<header *ngIf="!headerService.isHeaderHidden()">
  <div class="top-navigation">
    <div class="container">
      <ul>
        <li><a routerLink="/intro/Details">Giới thiệu</a></li>
        <li><a routerLink="/san-pham-yeu-thich/data">Sản phẩm yêu thích</a></li>
        <!-- <li>
          <a routerLink="/trung-tam-bao-hanh">Trung tâm bảo hành</a>
        </li> -->
        <li><a routerLink="/viewed">Sản phẩm đã xem</a></li>
        <li>
          <a
            id="login-modal"
            role="button"
            *ngIf="!service.isUserLoggedIn()"
            (click)="login()"
            >Đăng nhập</a
          >
        </li>
        <li>
          <a
            id="login-modal"
            role="button"
            (click)="register()"
            *ngIf="!service.isUserLoggedIn()"
            >Đăng ký</a
          >
        </li>
        <li>
          <div class="account-button" *ngIf="service.isUserLoggedIn()">
            <a routerLink="/tmember/home" class="account-link"
              >Tài khoản của tôi</a
            >
            <div class="account-options">
              <ul>
                <li>
                  <a routerLink="/tmember/home">Tài khoản</a>
                  <hr />
                </li>
                <li>
                  <a (click)="doLogout()" style="cursor: pointer">
                    Đăng xuất
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- logo and search box -->
  <div class="heading">
    <div class="container">
      <div class="logo">
        <a routerLink="" title="TSHops">
          <img
            src="/assets/icon/logo-PhotoRoom.png-PhotoRoom.png"
            alt="TSHops"
            style="width: 276px; height: 37px"
          />
        </a>
      </div>

      <div class="search-box">
        <form
          method="get"
          [formGroup]="searchForm"
          enctype="application/x-www-form-urlencoded"
        >
          <div class="border">
            <input
              type="text"
              id="kwd"
              name="kwd"
              formControlName="searchTerm"
              placeholder="Hôm nay bạn cần tìm gì?"
            />
            <button type="submit" class="search" (click)="searchProcess()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="order-tools">
        <!-- <div class="item check-order">
          <a id="btnCheckOrder" routerLink="/order/check">
            <span class="icon"><i class="icon-truck"></i></span>
            <span class="text">Kiểm tra đơn hàng</span>
          </a>
        </div> -->
        <div class="item cart">
          <a routerLink="/cart"
            ><i class="fal fa-cart-shopping"></i
            ><label
              ><i class="fa-solid fa-caret-left" style="color: #de6717"></i
              ><span id="cart-total">{{ cartItemCount }}</span></label
            ></a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- nav -->
  <nav
    [ngStyle]="isHeaderFixed ? fixedStyles : defaultStyles"
    [ngClass]="{ 'scroll-to-fixed-fixed': isHeaderFixed }"
  >
    <div class="container">
      <ul class="root">
        <li id="dien-thoai-di-dong">
          <a
            routerLink="/dien-thoai"
            routerLinkActive="acitve-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="icon fa fa-mobile-phone"></i>
            <span>Điện thoại</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g1">
                <h4>
                  <a routerLink="/dien-thoai">Hãng sản xuất</a>
                </h4>
                <ul class="display-column format_3">
                  <li><a routerLink="/dien-thoai/apple">Apple</a></li>
                  <li>
                    <a routerLink="/dien-thoai/samsung">Samsung</a>
                  </li>
                  <li><a routerLink="/dien-thoai/xiaomi">Xiaomi</a></li>
                  <li><a routerLink="/dien-thoai/oppo">OPPO</a></li>
                  <li><a routerLink="/dien-thoai/tecno">TECNO</a></li>
                  <li><a routerLink="/dien-thoai/nokia">Nokia</a></li>
                  <li><a routerLink="/dien-thoai/realme">realme</a></li>
                  <li><a routerLink="/dien-thoai/vivo">Vivo</a></li>
                  <li><a routerLink="/dien-thoai/honor">HONOR</a></li>
                  <li><a routerLink="/dien-thoai/htc">HTC</a></li>
                  <li>
                    <a routerLink="/dien-thoai/infinix">Infinix</a>
                  </li>
                  <li>
                    <a routerLink="/dien-thoai/asus-rog-phone">ROG</a>
                  </li>
                  <li><a routerLink="/dien-thoai/nubia">Nubia</a></li>
                  <li><a routerLink="/dien-thoai/xor">XOR</a></li>
                  <li>
                    <a routerLink="/dien-thoai/masstel">Masstel</a>
                  </li>
                  <li><a routerLink="/dien-thoai/tcl">TCL</a></li>
                  <li><a routerLink="/dien-thoai/itel">Itel</a></li>
                </ul>
                <h4>
                  <a routerLink="/dien-thoai-cao-cap">Điện thoại cao cấp</a>
                </h4>
                <ul class="display-row format_1"></ul>
                <h4><a routerLink="/dien-thoai-gap">Điện Thoại Gập</a></h4>
                <ul class="display-row format_1"></ul>
              </div>
              <div class="menu g2">
                <h4>
                  <a routerLink="/dien-thoai-duoi-1-trieu">Mức giá</a>
                </h4>
                <ul class="display-row format_2">
                  <li>
                    <a role="button" (click)="navigateToList100()"
                      >Tr&#234;n 100 triệu</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink='/dien-thoai?=&amp;filters={"sort":"10","price":"1t"}'
                      >Dưới 1 triệu</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink='/dien-thoai?=&amp;filters={"sort":"10","price":"2t-3t"}'
                      >Từ 2 đến 3 triệu</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink='/dien-thoai?=&amp;filters={"sort":"10","price":"3t-4t"}'
                      >Từ 3 đến 4 triệu</a
                    >
                  </li>
                  <li>
                    <a routerLink='/dien-thoai?=&amp;filters={"price":"6t-8t"}'
                      >Từ 6 đến 8 triệu</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink='/dien-thoai?=&amp;filters={"price":"15t-20t"}'
                      >Từ 15 đến 20 triệu</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/dien-thoai?search=true&amp;filters={%22price%22:%2220t-100tr%22}&amp;search=true"
                      >Từ 20 đến 100 triệu</a
                    >
                  </li>
                </ul>
              </div>
              <div class="menu g3">
                <h4><a>Quan tâm nhất</a></h4>
                <ul class="display-row format_2">
                  <li>
                    <a routerLink='/dien-thoai?filters={"sort":"6"}'>Hôm nay</a>
                  </li>
                  <li>
                    <a routerLink='/dien-thoai?filters={"sort":"7"}'
                      >Tuần này</a
                    >
                  </li>
                  <li>
                    <a routerLink='/dien-thoai?filters={"sort":"8"}'
                      >Tháng này</a
                    >
                  </li>
                  <li>
                    <a routerLink='/dien-thoai?filters={"sort":"10"}'
                      >Năm nay</a
                    >
                  </li>
                </ul>
              </div>

              <div class="menu ads" style="width: 600px">
                <a routerLink=""
                  ><img
                    style="width: 600px"
                    src="https://hoanghamobile.com/Uploads/2023/10/14/honor-640x266.jpg"
                    alt="X5 pLus"
                /></a>
              </div>
            </div>
          </div>
        </li>
        <li id="apple">
          <a
            routerLink="/apple"
            routerLinkActive="acitve-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="icon fa-solid fa-mobile"></i>
            <span>Apple</span>
          </a>
        </li>
        <li id="laptop">
          <a routerLink="/laptop">
            <i class="icon fas fa-laptop-code"></i>
            <span>Laptop</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g1">
                <h4><a routerLink="/laptop">Hãng sản xuất</a></h4>
                <ul class="display-column format_3">
                  <li><a routerLink="/laptop/apple">Apple</a></li>
                  <li><a routerLink="/laptop/asus">ASUS</a></li>
                  <li><a routerLink="/laptop/dell">Dell</a></li>
                  <li><a routerLink="/laptop/acer">Acer</a></li>
                  <li><a routerLink="/laptop/msi">MSI</a></li>
                  <li><a routerLink="/laptop/lg">LG</a></li>
                  <li><a routerLink="/laptop/huawei">HUAWEI</a></li>
                  <li><a routerLink="/laptop/microsoft">Surface</a></li>
                  <li><a routerLink="/laptop/lenovo">Lenovo</a></li>
                  <li><a routerLink="/laptop/hp">HP</a></li>
                  <li><a routerLink="/laptop/gigabyte">GIGABYTE</a></li>
                  <li><a routerLink="/laptop/itel">Itel</a></li>
                  <li>
                    <a routerLink="/laptop/xiaomi">Xiaomi</a>
                  </li>
                  <li><a routerLink="/laptop/masstel">Masstel</a></li>
                </ul>
                <h4><a>Phân loại Sản phẩm</a></h4>
                <ul class="display-column format_1">
                  <li>
                    <a routerLink="/laptop/cao-cap-sang-trong"
                      >Cao cấp - Sang trọng</a
                    >
                  </li>
                  <li>
                    <a routerLink="/laptop/do-hoa-ki-thuat"
                      >Đồ họa - Kĩ thuật</a
                    >
                  </li>
                  <li>
                    <a routerLink="/laptop/hoc-tap-van-phong"
                      >Học tập - Văn ph&#242;ng</a
                    >
                  </li>
                  <li>
                    <a routerLink="/laptop/laptop-gaming">Laptop Gaming</a>
                  </li>
                  <li><a routerLink="/laptop/mong-nhe">Mỏng nhẹ</a></li>
                </ul>
              </div>
              <div class="menu g3">
                <h4><a>Mức giá</a></h4>
                <ul class="display-row format_2">
                  <li>
                    <a routerLink="/laptop/filter-price-13"
                      >Tr&#234;n 20 triệu</a
                    >
                  </li>
                  <li>
                    <a routerLink="">Từ 12 đến 15 Triệu</a>
                  </li>
                  <li>
                    <a routerLink="">Từ 15 đến 20 triệu</a>
                  </li>
                </ul>
              </div>

              <div class="menu ads" style="width: 600px"></div>
            </div>
          </div>
        </li>
        <li id="tablet">
          <a routerLink="/tablet">
            <i class="icon fa-solid fa-tablet"></i>
            <span>Tablet</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g2">
                <h4><a routerLink="/tablet">Hãng sản xuất</a></h4>
                <ul class="display-column format_3">
                  <li><a routerLink="/tablet/apple">Apple</a></li>
                  <li><a routerLink="/tablet/samsung">Samsung</a></li>
                  <li>
                    <a routerLink="/tablet/microsoft">Microsoft Surface</a>
                  </li>
                  <li><a routerLink="/tablet/xiaomi">Xiaomi</a></li>
                  <li><a routerLink="/tablet/nokia">Nokia</a></li>
                  <li><a routerLink="/tablet/tcl">TCL</a></li>
                  <li><a routerLink="/tablet/lenovo">Lenovo</a></li>
                  <li><a routerLink="/tablet/oppo">OPPO</a></li>
                  <li><a routerLink="/tablet/huawei">Huawei</a></li>
                  <li><a routerLink="/tablet/htc">HTC</a></li>
                  <li><a routerLink="/tablet/yuho">Yuho</a></li>
                </ul>
              </div>

              <div class="menu ads" style="width: 600px"></div>
            </div>
          </div>
        </li>
        <li id="man-hinh">
          <a routerLink="/man-hinh">
            <i class="icon fas fa-desktop"></i>
            <span>Màn h&#236;nh</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g0">
                <h4><a routerLink="/man-hinh">Hãng sản xuất</a></h4>
                <ul class="display-column format_2">
                  <li><a routerLink="/man-hinh/acer">Acer</a></li>
                  <li><a routerLink="/man-hinh/hang-san-xuat/aoc">AOC</a></li>
                  <li><a routerLink="/man-hinh/hang-san-xuat/asus">Asus</a></li>
                  <li><a routerLink="/man-hinh/hang-san-xuat/dell">Dell</a></li>
                  <li><a routerLink="/man-hinh/gigabyte">GIGABYTE</a></li>
                  <li><a routerLink="/man-hinh/hang-san-xuat/hp">HP</a></li>
                  <li>
                    <a routerLink="/man-hinh/hang-san-xuat/huawei">Huawei</a>
                  </li>
                  <li>
                    <a routerLink="/man-hinh/hang-san-xuat/lenovo">Lenovo</a>
                  </li>
                  <li><a routerLink="/man-hinh/hang-san-xuat/lg">LG</a></li>
                  <li><a routerLink="/man-hinh/hang-san-xuat/msi">MSI</a></li>
                  <li>
                    <a routerLink="/man-hinh/hang-san-xuat/samsung">Samsung</a>
                  </li>
                  <li>
                    <a routerLink="/man-hinh/hang-san-xuat/viewsonic"
                      >ViewSonic</a
                    >
                  </li>
                </ul>
              </div>
              <div class="menu g2">
                <h4><a>Phân loại sản phẩm</a></h4>
                <ul class="display-column format_1">
                  <li>
                    <a routerLink="/man-hinh/phan-loai-san-pham/man-hinh-do-hoa"
                      >Màn h&#236;nh đồ họa</a
                    >
                  </li>
                  <li>
                    <a routerLink="/man-hinh/phan-loai-san-pham/man-hinh-gaming"
                      >Màn h&#236;nh Gaming</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/man-hinh/phan-loai-san-pham/man-hinh-van-phong"
                      >Màn h&#236;nh văn ph&#242;ng</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/man-hinh/phan-loai-san-pham/man-hinh-di-dong"
                      >Màn h&#236;nh di động</a
                    >
                  </li>
                </ul>
              </div>
              <div class="menu g3">
                <h4>
                  <a routerLink="/phu-kien/phu-kien-man-hinh"
                    >Phụ kiện màn h&#236;nh</a
                  >
                </h4>
                <ul class="display-row format_1"></ul>
              </div>

              <div class="menu ads" style="width: 580px">
                <a routerLink=""
                  ><img
                    style="width: 580px"
                    src="https://hoanghamobile.com/Uploads/2023/09/06/95aug-1-02.png"
                    alt="Màn h&#236;nh MSI G2412"
                /></a>
              </div>
            </div>
          </div>
        </li>
        <li id="smart-tv">
          <a routerLink="/smart-tv">
            <i class="icon fa fa-tv"></i>
            <span>Smart TV</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g1">
                <h4><a routerLink="/smart-tv">Hãng sản xuất</a></h4>
                <ul class="display-column format_1">
                  <li><a routerLink="/smart-tv/tv-xiaomi">Tivi Xiaomi</a></li>
                  <li><a routerLink="/smart-tv/tv-casper">Tivi Casper</a></li>
                  <li><a routerLink="/smart-tv/tv-coocaa">TV Coocaa</a></li>
                  <li><a routerLink="/smart-tv/itel">TV Itel</a></li>
                  <li><a routerLink="/smart-tv/samsung">TV Samsung</a></li>
                  <li><a routerLink="/smart-tv/tv-skyworth">TV SKYWORTH</a></li>
                  <li><a routerLink="/smart-tv/tv-toshiba">TV Toshiba</a></li>
                </ul>
                <h4>
                  <a routerLink="/phu-kien/phu-kien-smart-tv">Phụ kiện TV</a>
                </h4>
                <ul class="display-column format_1"></ul>
              </div>

              <div class="menu ads" style="width: 600px">
                <a routerLink=""
                  ><img
                    style="width: 600px"
                    src="https://hoanghamobile.com/Uploads/2023/11/02/web-tv-xiaomi-t11-580x266.jpg"
                    alt="TV Xiaomi"
                /></a>
              </div>
            </div>
          </div>
        </li>
        <li id="dong-ho">
          <a routerLink="/dong-ho">
            <i class="icon fal fa-watch"></i>
            <span>Đồng hồ</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g0">
                <h4><a>Đồng hồ</a></h4>
                <ul class="display-column format_4">
                  <li><a routerLink="/dong-ho/apple-watch">Apple</a></li>
                  <li><a routerLink="/dong-ho/sam-sung">Samsung</a></li>
                  <li><a routerLink="/dong-ho/garmin">Garmin</a></li>
                  <li><a routerLink="/dong-ho/huawei">HUAWEI</a></li>
                  <li><a routerLink="/dong-ho/xiaomi">Xiaomi</a></li>
                  <li>
                    <a routerLink="/dong-ho/dong-ho-tre-em">Đồng hồ trẻ em</a>
                  </li>
                  <li><a routerLink="/dong-ho/realme">realme</a></li>
                  <li><a routerLink="/dong-ho/huami">Amazfit</a></li>
                  <li><a routerLink="/dong-ho/masstel">Masstel</a></li>
                  <li><a routerLink="/dong-ho/oppo">OPPO</a></li>
                  <li>
                    <a routerLink="/dong-ho/top-vong-deo-tay"
                      >Top v&#242;ng đeo tay</a
                    >
                  </li>
                  <li><a routerLink="/dong-ho/soundpeats">SoundPEATS</a></li>
                  <li><a routerLink="/dong-ho/kieslect">Kieslect</a></li>
                  <li><a routerLink="/dong-ho/fitbit">Fitbit</a></li>
                </ul>
              </div>

              <div class="menu ads" style="width: 600px">
                <a routerLink=""
                  ><img
                    style="width: 600px"
                    src="https://hoanghamobile.com/Uploads/2023/11/03/580x266-garmin-031123.jpg"
                    alt="Garmin tháng 11"
                /></a>
              </div>
            </div>
          </div>
        </li>
        <li id="loa-tai-nghe">
          <a routerLink="/loa-tai-nghe">
            <i class="icon fa-solid fa-headphones-simple"></i>
            <span>&#194;m thanh</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g0">
                <h4><a routerLink="/loa">Loa</a></h4>
                <ul class="display-column format_2">
                  <li><a routerLink="/loa/samsung">Samsung</a></li>
                  <li><a routerLink="/loa/harman-kardon">Harman Kardon</a></li>
                  <li><a routerLink="/loa/jbl">JBL</a></li>
                  <li><a routerLink="/loa/monster">MONSTER</a></li>
                  <li><a routerLink="/loa/sony">Sony</a></li>
                  <li><a routerLink="/loa/alpha-works">Alpha Works</a></li>
                  <li><a routerLink="/loa/edifier">Edifier</a></li>
                  <li><a routerLink="/loa/energizer">Energizer</a></li>
                  <li><a routerLink="/loa/havit">Havit</a></li>
                  <li><a routerLink="/loa/huawei">Huawei</a></li>
                  <li><a routerLink="/loa/lg">LG</a></li>
                  <li>
                    <a routerLink="/loa/loa-mic-cam-tay">Loa mic cầm tay</a>
                  </li>
                  <li><a routerLink="/loa/marshall">Marshall</a></li>
                  <li><a routerLink="/loa/soundpeats">SoundPEATS</a></li>
                  <li><a routerLink="/loa/tekin">Tekin</a></li>
                  <li><a routerLink="/loa/apple">Apple</a></li>
                </ul>
              </div>
              <div class="menu g1">
                <h4><a routerLink="/tai-nghe">Tai nghe</a></h4>
                <ul class="display-column format_3">
                  <li><a routerLink="/tai-nghe/sony">Sony</a></li>
                  <li><a routerLink="/tai-nghe/jbl">JBL</a></li>
                  <li><a routerLink="/tai-nghe/soundpeats">Soundpeats</a></li>
                  <li><a routerLink="/tai-nghe/apple-airpods">Apple</a></li>
                  <li><a routerLink="/tai-nghe/asus">Asus</a></li>
                  <li><a routerLink="/tai-nghe/beats">Beats</a></li>
                  <li><a routerLink="/tai-nghe/denon">Denon </a></li>
                  <li><a routerLink="/tai-nghe/edifier">Edifier</a></li>
                  <li><a routerLink="/tai-nghe/energizer">Energizer</a></li>
                  <li><a routerLink="/tai-nghe/havit">Havit</a></li>
                  <li><a routerLink="/tai-nghe/haylou">Haylou</a></li>
                  <li><a routerLink="/tai-nghe/huawei">Huawei</a></li>
                  <li><a routerLink="/tai-nghe/iwalk">iWalk</a></li>
                  <li><a routerLink="/tai-nghe/lg">LG</a></li>
                  <li><a routerLink="/tai-nghe/monster">MONSTER</a></li>
                  <li><a routerLink="/tai-nghe/motorola">Motorola</a></li>
                  <li><a routerLink="/tai-nghe/myalo">myAlo</a></li>
                  <li><a routerLink="/tai-nghe/nokia">Nokia</a></li>
                  <li><a routerLink="/tai-nghe/philips">PHILIPS</a></li>
                  <li><a routerLink="/tai-nghe/pioneer">Pioneer</a></li>
                  <li><a routerLink="/tai-nghe/pisen">Pisen</a></li>
                  <li><a routerLink="/tai-nghe/plantronics">Plantronics</a></li>
                  <li><a routerLink="/tai-nghe/rapoo">Rapoo</a></li>
                  <li><a routerLink="/tai-nghe/razer">Razer</a></li>
                  <li><a routerLink="/tai-nghe/realme">realme</a></li>
                  <li><a routerLink="/tai-nghe/samsung">Samsung</a></li>
                  <li><a routerLink="/tai-nghe/sennheiser">Sennheiser</a></li>
                  <li><a routerLink="/tai-nghe/shokz">Shokz</a></li>
                  <li><a routerLink="/tai-nghe/baseus">Tai nghe Baseus</a></li>
                  <li>
                    <a routerLink="/tai-nghe/tai-nghe-marshall"
                      >Tai nghe Marshall</a
                    >
                  </li>
                  <li><a routerLink="/tai-nghe/oppo">Tai nghe OPPO</a></li>
                  <li><a routerLink="/tai-nghe/xiaomi">Xiaomi</a></li>
                  <li><a routerLink="/tai-nghe/yamaha">YAMAHA</a></li>
                </ul>
              </div>

              <div class="menu ads" style="width: 600px"></div>
            </div>
          </div>
        </li>
        <li id="smart-home">
          <a routerLink="/smart-home">
            <i class="icon fa-solid fa-house-signal"></i>
            <span>Smart Home</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g4">
                <h4>
                  <a routerLink="/smart-home">Gia dụng thông minh</a>
                </h4>
                <ul class="display-row format_2">
                  <li>
                    <a routerLink="/do-gia-dung/may-loc-khong-khi"
                      >Máy lọc không khí</a
                    >
                  </li>
                  <li>
                    <a routerLink="/do-gia-dung/robot-hut-bui"
                      >Robot, Máy h&#250;t bụi</a
                    >
                  </li>
                  <li>
                    <a routerLink="/smart-home/phu-kien-gia-dung"
                      >Phụ kiện gia dụng</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/smart-home/fpt-play-box"
                      >FPT Play box</a
                    >
                  </li>
                  <li>
                    <a routerLink="/smart-home/can-thong-minh"
                      >Cân thông minh</a
                    >
                  </li>
                  <li>
                    <a routerLink="/smart-home/dth-tivi-box-k"
                      >DTH/Tivi Box K+</a
                    >
                  </li>
                  <li>
                    <a routerLink="/smart-home/khuyen-mai-do-gia-dung-xiaomi"
                      >Khuyến mại đồ gia dụng Xiaomi</a
                    >
                  </li>
                  <li>
                    <a routerLink="/smart-home/may-chieu">Máy Chiếu</a>
                  </li>
                  <li>
                    <a routerLink="/smart-home/noi-chien-khong-dau"
                      >Nồi chi&#234;n không dầu</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/do-gia-dung/o-cam-dien"
                      >Ổ Cắm điện</a
                    >
                  </li>
                  <li><a routerLink="/smart-home/quat-dien">Quạt Điện</a></li>
                  <li>
                    <a routerLink="/smart-home/thiet-bi-dinh-vi-thong-minh"
                      >Thiết bị định vị thông minh</a
                    >
                  </li>
                </ul>
              </div>
              <div class="menu g0">
                <h4>
                  <a routerLink="/do-gia-dung/may-loc-khong-khi"
                    >Máy Lọc Không khí</a
                  >
                </h4>
                <ul class="display-row format_1">
                  <li>
                    <a routerLink="/do-gia-dung/may-loc-khong-khi/clair"
                      >Máy lọc không khí hãng Clair</a
                    >
                  </li>
                  <li>
                    <a routerLink="/do-gia-dung/may-loc-khong-khi/daikin"
                      >Máy lọc không khí hãng Daikin</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/do-gia-dung/may-loc-khong-khi/may-loc-khong-khi-hang-philips"
                      >Máy lọc không khí hãng Philips</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/do-gia-dung/may-loc-khong-khi/may-loc-khong-khi-hang-xiaomi"
                      >Máy lọc không khí hãng Xiaomi</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/do-gia-dung/may-loc-khong-khi/may-loc-khong-khi-levoit"
                      >Máy lọc không khí Levoit</a
                    >
                  </li>
                </ul>
              </div>

              <div class="menu ads" style="width: 600px">
                <a routerLink=""
                  ><img
                    style="width: 600px"
                    src="https://hoanghamobile.com/Uploads/2023/10/31/580x266-tuanlexiaomi-311023.jpg"
                    alt="tuần lễ xíaomi"
                /></a>
              </div>
            </div>
          </div>
        </li>
        <li id="phu-kien">
          <a routerLink="/phu-kien">
            <i class="icon fa-solid fa-microchip"></i>
            <span>Phụ kiện</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g0">
                <h4>
                  <a routerLink="/phu-kien/phu-kien-dien-thoai"
                    >Phụ kiện điện thoại</a
                  >
                </h4>
                <ul class="display-column format_1">
                  <li><a routerLink="/sac-du-phong">Sạc dự ph&#242;ng</a></li>
                  <li>
                    <a routerLink="/cu-sac-day-cap">Củ sạc, dây cáp</a>
                  </li>
                  <li><a routerLink="/the-nho-usb">Thẻ nhớ - USB</a></li>
                  <li>
                    <a routerLink="/op-lung-dien-thoai">Bao da - Ốp lưng</a>
                  </li>
                  <li>
                    <a routerLink="/phu-kien/mieng-dan-man-hinh"
                      >Miếng dán màn h&#236;nh</a
                    >
                  </li>
                </ul>
                <h4>
                  <a routerLink="/phu-kien/xa-ton-phu-kien-gia-soc"
                    >Xả tồn phụ kiện - GI&#193; SỐC</a
                  >
                </h4>
                <ul class="display-column format_1"></ul>
              </div>
              <div class="menu g1">
                <h4>
                  <a routerLink="/phu-kien/ban-phim-chuot-gaming-gear"
                    >Bàn phím, Chuột &amp; Gaming Gear</a
                  >
                </h4>
                <ul class="display-column format_2">
                  <li>
                    <a routerLink="/phu-kien/ban-phim">Bàn Phím</a>
                  </li>
                  <li><a routerLink="/phu-kien/chuot">Chuột</a></li>
                  <li>
                    <a
                      routerLink="/phu-kien/ban-phim-chuot-gaming-gear/tay-cam-choi-game"
                      >Tay cầm chơi game</a
                    >
                  </li>
                </ul>
                <h4>
                  <a routerLink="/camera-an-ninh"
                    >Camera an ninh - Hành tr&#236;nh</a
                  >
                </h4>
                <ul class="display-row format_1">
                  <li>
                    <a routerLink="/camera-an-ninh/camera-an-ninh"
                      >Camera an ninh</a
                    >
                  </li>
                  <li>
                    <a routerLink="/camera-an-ninh/camera-hanh-trinh"
                      >Camera hành tr&#236;nh</a
                    >
                  </li>
                </ul>
                <h4>
                  <a routerLink="/phu-kien/phu-kien-smart-tv"
                    >Phụ kiện Smart TV</a
                  >
                </h4>
                <ul class="display-row format_1"></ul>
              </div>
              <div class="menu g2">
                <h4>
                  <a routerLink="/phu-kien/linh-kien-may-tinh"
                    >Linh kiện máy tính
                  </a>
                </h4>
                <ul class="display-column format_2">
                  <li>
                    <a routerLink="/phu-kien/phu-kien-may-tinh/o-cung"
                      >Ổ cứng</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/linh-kien-may-tinh/phan-mem"
                      >Phần mềm</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/phu-kien-may-tinh/ram">RAM</a>
                  </li>
                </ul>
                <h4>
                  <a routerLink="/phu-kien/pin-man-hinh"
                    >Pin, Màn h&#236;nh chính hãng</a
                  >
                </h4>
                <ul class="display-column format_1">
                  <li>
                    <a routerLink="/phu-kien/pin-man-hinh/man-hinh-iphone"
                      >Màn h&#236;nh iPhone</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/pin-man-hinh/pin">Pin iPhone</a>
                  </li>
                </ul>
              </div>
              <div class="menu g3">
                <h4>
                  <a routerLink="/phu-kien/phu-kien-apple">Phụ kiện Apple</a>
                </h4>
                <ul class="display-row format_1">
                  <li>
                    <a
                      routerLink="/phu-kien/phu-kien-apple/phu-kien-chinh-hang-apple"
                      >Phụ kiện chính hãng Apple</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/phu-kien/phu-kien-apple/phu-kien-cho-macbook"
                      >Phụ kiện cho Macbook</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/phu-kien-apple/phu-kien-iphone-15"
                      >Phụ kiện iPhone 15</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/phu-kien-apple/san-pham-uu-dai"
                      >Sản phẩm Ưu đãi</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/phu-kien/phu-kien-apple/thiet-bi-dinh-vi-thong-minh"
                      >Thiết bị định vị thông minh</a
                    >
                  </li>
                </ul>
                <h4>
                  <a routerLink="/phu-kien/phu-kien-khac">Phụ kiện khác</a>
                </h4>
                <ul class="display-column format_1">
                  <li>
                    <a routerLink="/phu-kien/tui-xach-balo-chong-soc"
                      >Balo - t&#250;i xách - t&#250;i chống sốc</a
                    >
                  </li>
                </ul>
              </div>
              <div class="menu g4">
                <h4>
                  <a routerLink="/phu-kien/thiet-bi-mang">Thiết bị mạng</a>
                </h4>
                <ul class="display-row format_1">
                  <li>
                    <a routerLink="/phu-kien/thiet-bi-mang/bo-kich-song"
                      >Bộ kích s&#243;ng</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/phu-kien/thiet-bi-mang/bo-phat-wifi-di-dong-3g-4g"
                      >Bộ phát Wifi di động (3G/4G)</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/thiet-bi-mang/router-modem"
                      >Router/Modem</a
                    >
                  </li>
                  <li>
                    <a routerLink="/phu-kien/thiet-bi-mang/thuong-hieu"
                      >Thương hiệu</a
                    >
                  </li>
                </ul>
              </div>

              <div class="menu ads" style="width: 300px"></div>
            </div>
          </div>
        </li>
        <li id="do-choi-cong-nghe">
          <a routerLink="/do-choi-cong-nghe">
            <i class="icon fa-solid fa-gamepad"></i>
            <span>Đồ chơi CN</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g0">
                <h4><a>Đồ chơi công nghệ</a></h4>
                <ul class="display-row format_1">
                  <li>
                    <a routerLink="/do-choi-cong-nghe/quat-cam-tay-mini"
                      >Quạt cầm tay mini</a
                    >
                  </li>
                  <li>
                    <a routerLink="/do-choi-cong-nghe/day-do-nhip-tim"
                      >Dây đo nhịp tim</a
                    >
                  </li>
                  <li>
                    <a routerLink="/do-choi-cong-nghe/kinh-thuc-te-ao"
                      >Kính thực tế ảo</a
                    >
                  </li>
                  <li>
                    <a routerLink="/do-choi-cong-nghe/tay-cam-chong-rung"
                      >Tay cầm chống rung</a
                    >
                  </li>
                  <li>
                    <a routerLink="/do-choi-cong-nghe/camera-hanh-trinh"
                      >Camera hành tr&#236;nh</a
                    >
                  </li>
                </ul>
              </div>

              <div class="menu ads" style="width: 600px"></div>
            </div>
          </div>
        </li>
        <li id="kho-san-pham-cu">
          <a routerLink="/kho-san-pham-cu">
            <i class="icon fa-solid fa-retweet"></i>
            <span>Máy trôi</span>
          </a>
          <div class="sub-container">
            <div class="sub">
              <div class="menu g0">
                <h4><a>Hàng cũ giá rẻ</a></h4>
                <ul class="display-column format_3">
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"1"}'
                      >Điện thoại di động</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?filters={"type":"5"}'
                      >Đồng hồ thông minh</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?&amp;filters={"type":"2"}'
                      >Máy tính bảng</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"3"}'
                      >Laptop</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"7"}'
                      >Loa</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"13"}'
                      >Tai nghe</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"26"}'
                      >Camera</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"10"}'
                      >Củ sạc</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"11"}'
                      >Dây cáp</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"28"}'
                      >Máy lọc không khí</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"18"}'
                      >Phụ kiện</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"25"}'
                      >Sạc dự ph&#242;ng</a
                    >
                  </li>
                  <li>
                    <a routerLink='/kho-san-pham-cu?=&amp;filters={"type":"30"}'
                      >Tay cầm chống rung</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li id="tin-tuc">
          <a routerLink="/tin-tuc">
            <i class="icon fa fa-newspaper-o"></i>
            <span>Tin hot</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- nav -->
</header>
