<div class="container mw-100">
  <div class="card">
    <div class="d-flex justify-content-between m-3">
      <div class="d-flex align-items-center">
        <h4 style="opacity: 0.5">Danh sách sản phẩm</h4>
      </div>
      <a
        class="btn btn-success"
        role="button"
        style="border: none"
        (click)="openDialogAddProduct()"
      >
        Thêm mới &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </div>

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="me-2">Tìm kiếm:</div>
        <div class="me-2">
          <input
            type="text"
            placeholder="Tên sản phẩm"
            class="form-control"
            [(ngModel)]="textFillter"
            (ngModelChange)="filterResults()"
            style="width: 20rem"
          />
        </div>
        <div class="ms-auto">Số lượng hiển thị:</div>
        <div>
          <select
            class="form-select form-select-sm"
            (change)="onTableSizeChange($event)"
          >
            <option *ngFor="let item of tableSizes">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th style="cursor: pointer" class="sortable-column">Hình ảnh</th>
            <th
              (click)="sortObjects('productName')"
              style="cursor: pointer"
              class="sortable-column"
            >
              Tên sản phẩm<i class="fal fa-sort"></i>
            </th>
            <th
              (click)="sortObjects('productPrice')"
              style="cursor: pointer"
              class="sortable-column"
            >
              Giá <i class="fal fa-sort"></i>
            </th>
            <th
              (click)="sortObjects('productSell')"
              style="cursor: pointer"
              class="sortable-column"
            >
              Giá k/m<i class="fal fa-sort"></i>
            </th>
            <th
              (click)="sortObjects('productQuantity')"
              style="cursor: pointer"
              class="sortable-column"
            >
              Số lượng <i class="fal fa-sort"></i>
            </th>
            <th
              (click)="sortObjects('productCategory')"
              style="cursor: pointer"
              class="sortable-column"
            >
              Danh mục <i class="fal fa-sort"></i>
            </th>
            <th
              (click)="sortObjects('productBrand')"
              style="cursor: pointer"
              class="sortable-column"
            >
              Thương hiệu <i class="fal fa-sort"></i>
            </th>
            <th class="sortable-column">Tình trạng</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let post of allObject ?? POSTS
                | paginate
                  : {
                      itemsPerPage: tableSize,
                      currentPage: page,
                      totalItems: count
                    };
              let i = index
            "
          >
            <td>
              <img
                [src]="post.images[0].imagePath"
                style="max-width: 70px"
                alt=""
              />
            </td>
            <td>
              <a
                (click)="openDialogUpdate(post)"
                role="button"
                onmouseover="this.style.color='#00F'"
                onMouseOut="this.style.color='#000'"
                >{{ post.productName }}</a
              >
            </td>
            <td>{{ post.productPrice | number }}đ</td>
            <td>{{ post.productSell | number }}đ</td>
            <td>{{ post.productQuantity }}</td>
            <td>{{ post.productCategory }}</td>
            <td>{{ post.productBrand }}</td>
            <td>{{ post.productStatus === 1 ? "Cũ" : "Mới" }}</td>
            <td>
              <div class="d-flex input-group mb-3 flex-nowrap">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="openDialogUpdate(post)"
                >
                  <i class="fal fa-pen-to-square"></i>
                </button>
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="processDelete(post.productId)"
                >
                  <i class="fal fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
