<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="35">
    <mat-toolbar>
      <span>Find your account</span>
    </mat-toolbar>
    <form fxLayout="column">
      <div style="padding: 10px;">
        <span style="font-size: medium;" 
          >Please enter your email or mobile number to search for your
          account</span
        >
      </div>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email"/>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button
          type="button"
          mat-raised-button
          style="width: 10em"
          color="primary"
          class="btnForgotPassword"
        >
          Find
        </button>
        <a mat-raised-button routerLink="/account/login" class="a-backLogin">Back to login</a>
      </div>
    </form>
  </mat-card>
</div>
